* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.template {
    display: none;
}

.todo-item {
    background-color: red;
    color: #fff;
    border: 1px solid #fff;
    padding: 20px;
}

.margin-top {
    margin-top: 20px;
}

.da-cancellare {
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 0px 3px;
    border: 1px solid #fff;
}